<div class="title">
	<h1>Welcome to RSCR</h1>
<!--
	<form name="invitadoForm" method='post' action='/invitado'>
		<button type='submit' class='btn btn-success'>Entrar como invitado</button>	
	</form>
-->
</div>
