<div class="title">
    <h2>Confirmar grabación</h2>

	<h3>Detalles de la grabación</h3>
	<p>Fecha: <%= date %></p>
	<p>Hora de inicio: <%= startTime %></p>
	<p>Hora de fin: <%= endTime %></p>

	<a href="/confirm">Confirmar</a>
</div>
